<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001220354419-sk9t17lkme366coqhs3dauuc6dpsp85t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001220354419-sk9t17lkme366coqhs3dauuc6dpsp85t</string>
	<key>API_KEY</key>
	<string>AIzaSyDZo7tjuIeO-kAKdz5ZyK1SRO7HrlhrDAs</string>
	<key>GCM_SENDER_ID</key>
	<string>1001220354419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcho617.marshmallow</string>
	<key>PROJECT_ID</key>
	<string>marshmallow-97d30</string>
	<key>STORAGE_BUCKET</key>
	<string>marshmallow-97d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001220354419:ios:1ac6a386bbc5e509949506</string>
</dict>
</plist>